---
layout: default
title: software & web developer
description: Software/Web Developer in Seattle, WA. Take a look at my portfolio, projects, github and get in contact with me!
---
<div id="title">
  <h1 class="heading">
    <span class="subtitle">Online portfolio of</span><br>
    <span class="nowrap">David Aaron Pierce</span>
  </h1>
</div><!-- /#title -->

<div id="about">
  <img class="portrait" src="/images/me.jpg" alt="It's me, David">
  <div class="text">
    <h2>
      Hello!
    </h2>
    <p>
      I'm a student at Seattle U studying Computer Science, living in Seattle with my talented wife <a href="https://tishaturner.com">Tisha</a>. I design and develop simple games on my free time. On occasions I also draw, paint and animate.
    </p>
  </div>
</div><!-- /#about -->

<div id="projects-latest">
  <h2>
    Latest Projects
  </h2>
  <div class="project-container">
{% assign projects = site.projects | sort: 'listing-priority' %}
{% for project in projects limit:3 %}
{% include projects.html %}
{% endfor %}
  </div>
</div><!-- /#projects-latest -->

<div id="blog-latest">
  <h2>Latest Blog Post</h2>
{% assign post = site.posts.first %}
{% include blog.html %}
</div><!-- /.blog-latest -->
